<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="DALSqlAssembly" value="TourPlanner.DAL.PostgreSQLServer" />
    <add key="DALFileAssembly" value="TourPlanner.DAL.FileServer" />
    <add key="useFileSystem" value="false" />
  </appSettings>

  <connectionStrings>
    <add name="PostgresSQLConnectionString" connectionString="Server=127.0.0.1;Port=5432;Database=tourplanner;User Id=postgres;Password=password;" />
    <add name="StartFolderFilePath" connectionString="C:\Users\burak_y46me01\OneDrive\Desktop\TourPlannerrr\TestData" />
  </connectionStrings>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="file" />
    </root>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\Users\\burak_y46me01\\OneDrive\\Desktop\\TourPlannerrr\\Logs\\myapp.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>